--- 
pageTitle: Home Page
profileImage: "/images/dp.png"
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/images/favicon-32x32.png' | url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/images/favicon-16x16.png' | url }}">
  {# <link rel="manifest" href="/site.webmanifest"> #}

  <link rel="preconnect" href="https://fonts.gstatic.com">  
  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/styles/styles.css' | url }}">
  <title>{{ pageTitle }}</title>
</head>
  <body>
    <nav>
      <div class="nav-content">
        <img src="{{ profileImage | url }}" alt={{ profileImage | url }}}>

        {# for print #}
        <ul class="nav-print-details">
          <li>pierresymonperalta@gmail.com</li>
          <li>+65-81849775</li>
          <li>#02-10 38 Lorong 32 Geylang, Ness, Singapore 398298</li>
          <li>
            <div>
              Web version:
              <p>https://pierresymonperalta.github.io/cv</p>
            </div>
          </li>
        </ul>
        <ul class="nav-menu">
          <li><a href="{{ '/' | url }}">Resume</a></li>
          <li><a href="{{ '/contact' | url }}">Contact Me</a></li>
        </ul>
        <hr>
        <ul class="nav-social-links">
          <li><a class="linkedin" target="_blank" href="https://www.linkedin.com/in/pierre-symon-peralta-b6a8a1117/">LinkedIn</a></li>
          <li><a class="github" target="_blank" href="https://github.com/PierreSymonPeralta">Github</a></li>
        </ul>
      </div>
    </nav>
    
    <div class="main">
      <h1>{{pageTitle}}</h1>
      {{ content | safe }}
      <div class="footer">  Made with <a href="https://www.11ty.dev/" target="_blank">11ty</div>
    </div>
  </body>
</html>