* {
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  font-display: auto;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}
.main {
  position: relative;
  width: 100%;
  padding: 0 1rem;

  .footer {
    font-size: 0.8rem;
    position: absolute;
    padding: 1rem;
    text-align: end;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

header {
  padding: 1rem 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  background-color: rgb(52, 87, 116);
  color: #fff;
  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .title {
    flex: 1;
    h1 {
      font-size: 1.5rem;
      margin: 0.25rem 0;
    }
    h3 {
      font-size: 1.25rem;
      margin: 0.25rem 0;
    }
    .contact-info {
      font-style: normal;
      margin: 1rem 0;
      span:first-child {
        font-weight: bold;
        margin-right: 0.5rem;
      }
    }
  }
  .nav-content {
    flex: 1;
    a {
      margin-right: 1rem;
    }
    ul {
      list-style: none;
      display: flex;
    }
    .nav-social-links {
      display: flex;
      justify-content: flex-end;
      .linkedin::before {
        content: '';
        background-size: 1rem;
        display: inline-block;
        width: 1rem;
        height: 1rem;
        margin-right: 0.5rem;
        margin-top: -5px;
        transform: translateY(20%);
        background-image: url('/cv/images/linkedIn.png');
      }
      .github::before {
        content: '';
        background-size: 1rem;
        display: inline-block;
        width: 1rem;
        height: 1rem;
        margin-right: 0.5rem;
        margin-top: -5px;
        transform: translateY(20%);
        background-image: url('/cv/images/github.png');
      }
    }
    .nav-print-details {
      display: none;
      word-break: break-all;
      font-size: 0.5rem;

      li {
        padding: 4px 0;
      }
    }
  }
}

.web-cv,
.print-btn {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

@media (max-width: 720px) {
  header {
    flex-direction: column;
  }
}

@media print {
  body {
    margin-top: -18px;
    font-size: 0.7rem;
  }
  h1,
  h3,
  p,
  ul {
    margin: 4px 0;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 0.9rem;
    margin: 12px 0;
    border-bottom: 0.2px solid rgb(52, 87, 116);
  }

  h3 {
    font-size: 0.8rem;
    margin: 12px 0;
  }

  header {
    color: black;
    background-color: transparent;
  }
}
