* {
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  font-display: auto;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: stretch;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  .nav-menu-btn {
    display: none;
  }

  .nav-content {
    height: 100%;
    background-color: rgb(52, 87, 116);
    padding: 2rem 1rem;
  }

  img {
    display: inline-block;
    width: 15vw;
    height: 15vw;
    max-width: 220px;
    max-height: 220px;
    border-radius: 50%;
  }

  img:hover {
    filter: grayscale(50%);
  }
}

nav ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 2rem 0 0 0;

  li a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 1rem 0;
  }
}

.nav-social-links a::before {
  content: '';
  background-size: 1rem;
  display: inline-block;
  width: 1rem; 
  height: 1rem;
  margin-right: 0.5rem;
  margin-top: -5px;
  transform: translateY(20%);
}

.nav-social-links .linkedin::before{
  background-image: url('/cv/images/linkedIn.png');
}

.nav-social-links .github::before{
  background-image: url('/cv/images/github.png');
}

.nav-print-details {
  display: none;
  word-break: break-all;
  font-size: 0.5rem;

  li {
    padding: 4px 0;
  }
}  

.main {
  position: relative;
  width: 100%;
  padding: 1rem;

  .footer {
    font-size: 0.80rem;
    position: absolute;
    padding: 1rem;
    text-align: end;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

@media (max-width: 980px) { 
  .nav-social-links a::before {
    display: none;
  }
}

@media print { 
  body {
    margin-top: -18px;
    font-size: 0.7rem;
  }

  h1, h3, p, ul {
    margin: 4px 0;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 0.9rem;
    margin: 12px 0;
    border-bottom: 0.2px solid rgb(52, 87, 116);
  }

  h3  {
    font-size: 0.8rem;
    margin: 12px 0;
  }

  nav {
    max-width: 22%;
    margin-left: -1rem;

    .nav-menu {
      display: none;
    }

    .nav-print-details {
      display: block;
    }
  }
}